[submodule "themes/syna"]
	path = themes/syna
	url = https://git.okkur.org/syna
[submodule "public"]
	path = public
	url = https://github.com/SASE-Labs-2021/SASE-Labs-2021.github.io.git
	branch = master
